@charset "utf-8";
.showbbs{padding:20px; padding-bottom:0px;}
.showbbs .title{position:relative;}
.showbbs .title h1{font-size:18px;padding:0;margin:0;max-width:710px;}
.showbbs .title .info{border-bottom:1px solid #f3f3f3;line-height:45px;padding-top:5px;margin-bottom:15px;font-size:12px;color:#666;}
.showbbs .title .info span{margin-right:5px;}
.showbbs .title .face{position:absolute;right:0;top:0;}
.showbbs .title .face img{width:60px;height:60px;border-radius:100%;}
.showbbs .content{}
.showbbs .content img{max-width:100%;}
.showbbs .content a{color:#03f;margin:0 10px;}
.showbbs .content a:hover{color:#f30;text-decoration:underline;}

.book{overflow:hidden;clear:both;margin-bottom:10px; margin-top:10px;}
.book .face{float:left;width:60px;height:60px;}
.book .face img{border-radius:30px;}
.book .text{border:1px solid #dadada;margin-left:70px;border-radius:10px;}
.book .text .div{padding:10px 20px;}
.book .text .div .icon{position:absolute;width:20px;height:20px;margin:6px 0 0 -40px;background:url(../images/dot.gif) no-repeat top right;}
.book .text .div .base{font-family:verdana;color:#000;border-bottom:1px dashed #ccc;line-height:30px;margin-bottom:10px;}
.book .text .div .base span{float:right;color:#999;}
.book .text .div .content{line-height:22px;font-family:microsoft yahei;font-size:14px;}
.book .text .div .reply{font-family:microsoft yahei;line-height:30px;color:#000;padding:5px 15px;background:#f3f3f3;margin-top:5px;font-size:14px;}
.book .text .div .reply strong{color:#f60;}

.bookadd{margin:10px 0;}
.bookadd div{margin-bottom:15px;}
.bookadd .label{float:left;width:100px;text-align:right;padding-right:10px;}
.bookadd .label span{color:#f30;font-family:宋体;}
.bookadd .enter{margin-left:120px;}
.bookadd .enter .ip{border:1px solid #ddd;padding:8px 10px;vertical-align:middle;overflow:auto;border-radius:4px;}
.bookadd .enter label{display:block;}
.bookadd .enter #booklen{color:#f30;}
.bookadd input{cursor:pointer;width:100px; height:30px; background:#4f4f4f; border:0;  font-size:14px; color:#fff; line-height:30px;}